<app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="https://imgmedia.lbb.in/media/2020/03/5e6fa0adcdf431136ea4aeb9_1584373933388.jpg">
      </div>
      <div class="col-md-6 border-left">
        <div class="mb-3 row">
            <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@example.com">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword">
            </div>
            <div>
                <button type="button" class="btn btn-success float-end">Login</button>
            </div>
        </div>
    </div>
  </div>
  <div>
    
    </div>
    
  </div>
